@tailwind base;
@tailwind components;
@tailwind utilities;

.page-transition {
  view-transition-name: page;
}

::view-transition-old(page) {
  animation: fadeOut 0.4s ease-in-out forwards;
}

::view-transition-new(page) {
  animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
